<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafik Gösterimi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Grafik Gösterimi</h1>
    </header>
    <main>
        <img src="{{ plot_path }}" alt="Grafik">
        <a href="{{ url_for('index') }}">Geri Dön</a>
    </main>
    <footer>
        <p>&copy; 2024 Bim Fatura Proje</p>
    </footer>
</body>
</html>
